* {
  padding: 0;
  margin: 0;
}

.form_container {
  border: 2px solid black;
  width: max-content;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
  padding: 100px;
}

input,
textarea {
  padding: 10px;
  margin: 15px;
}

input[type="submit"] {
  width: 100%;
  background: rgb(0, 234, 255);
  outline: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
}
